<h1>User Experience Analysis</h1>

In [2]:
# Importing the neccesary libraries and packages

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import sys
sys.path.append("..")
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans

In [14]:
# Read the clean telecom data

data = pd.read_csv('../data/clean_telecom_data.csv')
primary_data = pd.read_csv('../data/Week1_challenge_data_source.csv')
data.columns.tolist()

['Bearer Id',
 'Start',
 'Start ms',
 'End',
 'End ms',
 'Dur. (ms)',
 'IMSI',
 'MSISDN/Number',
 'IMEI',
 'Last Location Name',
 'Avg RTT DL (ms)',
 'Avg RTT UL (ms)',
 'Avg Bearer TP DL (kbps)',
 'Avg Bearer TP UL (kbps)',
 'DL TP < 50 Kbps (%)',
 '50 Kbps < DL TP < 250 Kbps (%)',
 '250 Kbps < DL TP < 1 Mbps (%)',
 'DL TP > 1 Mbps (%)',
 'UL TP < 10 Kbps (%)',
 '10 Kbps < UL TP < 50 Kbps (%)',
 '50 Kbps < UL TP < 300 Kbps (%)',
 'UL TP > 300 Kbps (%)',
 'Activity Duration DL (ms)',
 'Activity Duration UL (ms)',
 'Dur. (ms).1',
 'Handset Manufacturer',
 'Handset Type',
 'Nb of sec with Vol DL < 6250B',
 'Nb of sec with Vol UL < 1250B',
 'Social Media DL (Bytes)',
 'Social Media UL (Bytes)',
 'Google DL (Bytes)',
 'Google UL (Bytes)',
 'Email DL (Bytes)',
 'Email UL (Bytes)',
 'Youtube DL (Bytes)',
 'Youtube UL (Bytes)',
 'Netflix DL (Bytes)',
 'Netflix UL (Bytes)',
 'Gaming DL (Bytes)',
 'Gaming UL (Bytes)',
 'Other DL (Bytes)',
 'Other UL (Bytes)',
 'Total UL (Bytes)',
 'Total DL (Bytes)']

In [22]:
# Add the tcp column

data['TCP DL Retrans. Vol (Bytes)'] = primary_data['TCP DL Retrans. Vol (Bytes)']
data['TCP UL Retrans. Vol (Bytes)'] = primary_data['TCP UL Retrans. Vol (Bytes)']
data.isna().sum()

Bearer Id                             0
Start                                 0
Start ms                              0
End                                   0
End ms                                0
Dur. (ms)                             0
IMSI                                  0
MSISDN/Number                         0
IMEI                                  0
Last Location Name                    0
Avg RTT DL (ms)                       0
Avg RTT UL (ms)                       0
Avg Bearer TP DL (kbps)               0
Avg Bearer TP UL (kbps)               0
DL TP < 50 Kbps (%)                   0
50 Kbps < DL TP < 250 Kbps (%)        0
250 Kbps < DL TP < 1 Mbps (%)         0
DL TP > 1 Mbps (%)                    0
UL TP < 10 Kbps (%)                   0
10 Kbps < UL TP < 50 Kbps (%)         0
50 Kbps < UL TP < 300 Kbps (%)        0
UL TP > 300 Kbps (%)                  0
Activity Duration DL (ms)             0
Activity Duration UL (ms)             0
Dur. (ms).1                           0
Handset Manufacturer                  0
Handset Type                          0
Nb of sec with Vol DL < 6250B         0
Nb of sec with Vol UL < 1250B         0
Social Media DL (Bytes)               0
Social Media UL (Bytes)               0
Google DL (Bytes)                     0
Google UL (Bytes)                     0
Email DL (Bytes)                      0
Email UL (Bytes)                      0
Youtube DL (Bytes)                    0
Youtube UL (Bytes)                    0
Netflix DL (Bytes)                    0
Netflix UL (Bytes)                    0
Gaming DL (Bytes)                     0
Gaming UL (Bytes)                     0
Other DL (Bytes)                      0
Other UL (Bytes)                      0
Total UL (Bytes)                      0
Total DL (Bytes)                      0
TCP DL Retrans. Vol (Bytes)       87235
TCP UL Retrans. Vol (Bytes)       95627
dtype: int64

In [23]:
# Fixing the missing values by using mean

data['TCP DL Retrans. Vol (Bytes)'] = data['TCP DL Retrans. Vol (Bytes)'].fillna(data['TCP DL Retrans. Vol (Bytes)'].mean())
data['TCP UL Retrans. Vol (Bytes)'] = data['TCP UL Retrans. Vol (Bytes)'].fillna(data['TCP UL Retrans. Vol (Bytes)'].mean())
data.isna().sum()

Bearer Id                         0
Start                             0
Start ms                          0
End                               0
End ms                            0
Dur. (ms)                         0
IMSI                              0
MSISDN/Number                     0
IMEI                              0
Last Location Name                0
Avg RTT DL (ms)                   0
Avg RTT UL (ms)                   0
Avg Bearer TP DL (kbps)           0
Avg Bearer TP UL (kbps)           0
DL TP < 50 Kbps (%)               0
50 Kbps < DL TP < 250 Kbps (%)    0
250 Kbps < DL TP < 1 Mbps (%)     0
DL TP > 1 Mbps (%)                0
UL TP < 10 Kbps (%)               0
10 Kbps < UL TP < 50 Kbps (%)     0
50 Kbps < UL TP < 300 Kbps (%)    0
UL TP > 300 Kbps (%)              0
Activity Duration DL (ms)         0
Activity Duration UL (ms)         0
Dur. (ms).1                       0
Handset Manufacturer              0
Handset Type                      0
Nb of sec with Vol DL < 6250B     0
Nb of sec with Vol UL < 1250B     0
Social Media DL (Bytes)           0
Social Media UL (Bytes)           0
Google DL (Bytes)                 0
Google UL (Bytes)                 0
Email DL (Bytes)                  0
Email UL (Bytes)                  0
Youtube DL (Bytes)                0
Youtube UL (Bytes)                0
Netflix DL (Bytes)                0
Netflix UL (Bytes)                0
Gaming DL (Bytes)                 0
Gaming UL (Bytes)                 0
Other DL (Bytes)                  0
Other UL (Bytes)                  0
Total UL (Bytes)                  0
Total DL (Bytes)                  0
TCP DL Retrans. Vol (Bytes)       0
TCP UL Retrans. Vol (Bytes)       0
dtype: int64

In [27]:
# Add a new columns with Avg_TCP,Avt_RTT and Avg_TP
data['Avg_TCP_transmition'] = data['TCP DL Retrans. Vol (Bytes)'] + data['TCP UL Retrans. Vol (Bytes)']
data['Avg_RTT'] = data['Avg RTT DL (ms)'] + data['Avg RTT UL (ms)']
data['Avg_TP'] = data['Avg Bearer TP DL (kbps)'] + data['Avg Bearer TP UL (kbps)']
data.columns.tolist()

['Bearer Id',
 'Start',
 'Start ms',
 'End',
 'End ms',
 'Dur. (ms)',
 'IMSI',
 'MSISDN/Number',
 'IMEI',
 'Last Location Name',
 'Avg RTT DL (ms)',
 'Avg RTT UL (ms)',
 'Avg Bearer TP DL (kbps)',
 'Avg Bearer TP UL (kbps)',
 'DL TP < 50 Kbps (%)',
 '50 Kbps < DL TP < 250 Kbps (%)',
 '250 Kbps < DL TP < 1 Mbps (%)',
 'DL TP > 1 Mbps (%)',
 'UL TP < 10 Kbps (%)',
 '10 Kbps < UL TP < 50 Kbps (%)',
 '50 Kbps < UL TP < 300 Kbps (%)',
 'UL TP > 300 Kbps (%)',
 'Activity Duration DL (ms)',
 'Activity Duration UL (ms)',
 'Dur. (ms).1',
 'Handset Manufacturer',
 'Handset Type',
 'Nb of sec with Vol DL < 6250B',
 'Nb of sec with Vol UL < 1250B',
 'Social Media DL (Bytes)',
 'Social Media UL (Bytes)',
 'Google DL (Bytes)',
 'Google UL (Bytes)',
 'Email DL (Bytes)',
 'Email UL (Bytes)',
 'Youtube DL (Bytes)',
 'Youtube UL (Bytes)',
 'Netflix DL (Bytes)',
 'Netflix UL (Bytes)',
 'Gaming DL (Bytes)',
 'Gaming UL (Bytes)',
 'Other DL (Bytes)',
 'Other UL (Bytes)',
 'Total UL (Bytes)',
 'Total DL (Bytes)',
 'TCP DL Retrans. Vol (Bytes)',
 'TCP UL Retrans. Vol (Bytes)',
 'Avg_TCP_transmition',
 'Avg_RTT',
 'Avg_TP']

In [30]:
# Sampling out the usefull columns for my analysis

useful_columns = ['Avg_TCP_transmition','Avg_RTT','Avg_TP','Handset Type','MSISDN/Number']

analysis_data = data[useful_columns]
analysis_data.columns.tolist()

['Avg_TCP_transmition', 'Avg_RTT', 'Avg_TP', 'Handset Type', 'MSISDN/Number']

In [35]:
# Aggregating and finding the total per id
# Changing the bytes to MBs

pd.set_option('display.float_format', lambda x: '%.3f' % x)
grouped_data_total = analysis_data.groupby('MSISDN/Number').agg({'Avg_TCP_transmition':'sum', 'Avg_RTT':'sum', 'Avg_TP':'sum'})
grouped_data_total['Avg_TCP_transmition'] = grouped_data_total['Avg_TCP_transmition']/10**6

In [41]:
# Top 10 customers based on TCP

grouped_data_total = grouped_data_total.sort_values(by='Avg_TCP_transmition',ascending=False)
grouped_data_total.head(10)

                 Avg_TCP_transmition  Avg_RTT     Avg_TP
MSISDN/Number
33763554982.000             6131.138  354.656   3775.000
33662577723.000             4419.671  121.000  44939.000
33660325702.000             4357.575  652.000 178695.000
33763887232.000             4352.475  141.000 274399.000
33664402022.000             4297.079 1735.000 182269.000
33763023112.000             4294.432   26.000     91.000
33650384835.000             4292.242   63.000  59254.000
33763875786.000             4288.121   66.000  38330.000
33662969744.000             4275.492  123.828     17.000
33650287330.000             4268.647   30.000     63.000

In [43]:
# Top 10 customers based on throuput

grouped_data_total = grouped_data_total.sort_values(by='Avg_TP',ascending=False)
grouped_data_total.head(10)

                 Avg_TCP_transmition  Avg_RTT     Avg_TP
MSISDN/Number
33762333464.000              154.130  400.000 902222.000
33668708263.000              242.604  500.000 840424.000
33659546392.000               83.964  588.000 798342.000
33669946573.000               65.719  370.000 690815.000
33668425947.000               65.713  382.000 676858.000
33698174760.000              150.844  477.485 618797.000
33625700673.000              131.132  701.656 564179.000
33658075438.000               71.476  567.000 550352.000
33762644658.000              115.540 2860.000 549661.000
33665658364.000               34.275  188.000 530353.000

In [57]:
# Top 10 customers based on RTT

grouped_data_total = grouped_data_total.sort_values(by='Avg_RTT',ascending=False)
grouped_data_total.head(10)

                 Avg_TCP_transmition   Avg_RTT    Avg_TP
MSISDN/Number
33662317023.000               21.649 96924.000     3.000
33660874265.000               43.298 64670.000   194.000
33683692867.000               21.649 54848.000    21.000
33698551167.000                2.034 46021.000   303.000
33761813523.000               54.801 37084.000 21200.000
33668791629.000               25.017 36304.000   108.000
33760941100.000                0.062 27278.000  5148.000
33606788933.000                0.003 26300.000   144.000
33671816754.000               21.649 25715.000    71.000
33781865588.000               21.649 25388.000  1608.000

In [54]:
# Grouping and aggregating based on the number of count per customer
# Finding out the top 10 customers
     
grouped_data_count= analysis_data.groupby('MSISDN/Number').agg({'Avg_TCP_transmition':'count'})
grouped_data_count.rename(columns={'Avg_TCP_transmition':'Number of count'},inplace=True)
grouped_data_count = grouped_data_count.sort_values(by='Number of count',ascending=False)
grouped_data_count.head(10)

                 Number of count
MSISDN/Number
33626320676.000               18
33614892860.000               17
33625779332.000               17
33659725664.000               16
33760536639.000               15
33675877202.000               15
33667163239.000               13
33604515716.000               12
33760413819.000               12
33603127838.000               12

In [55]:
# Bottom 10 customers based on TCP

grouped_data_total = grouped_data_total.sort_values(by='Avg_TCP_transmition',ascending=True)
grouped_data_total.head(10)

                 Avg_TCP_transmition  Avg_RTT    Avg_TP
MSISDN/Number
33663486514.000                0.000   22.000    81.000
33783368863.000                0.000   54.000 51132.000
33660020795.000                0.000  252.000 13626.000
33661839252.000                0.000   57.000  4853.000
33663445011.000                0.000   64.000   557.000
33620061851.000                0.000   85.000 73912.000
33640933474.000                0.000   40.000    80.000
33660977674.000                0.000   56.000 83075.000
33683982361.000                0.000 1114.000    45.000
33650940300.000                0.000  230.000 15910.000

In [56]:
# Bottom 10 customers based on throuput

grouped_data_total = grouped_data_total.sort_values(by='Avg_TP',ascending=True)
grouped_data_total.head(10)

                 Avg_TCP_transmition  Avg_RTT  Avg_TP
MSISDN/Number
33645605290.000               21.649  123.828   0.000
33658103380.000               21.649  123.828   0.000
33667462490.000               21.649  123.828   0.000
33777761538.000               21.649  123.828   0.000
33777464744.000               21.649  123.828   0.000
33659337161.000               10.604  123.828   0.000
33661089447.000                1.181  123.828   0.000
33660338411.000               21.649  123.828   0.000
33673535782.000               21.649  123.828   0.000
33672473270.000               21.649  123.828   0.000

In [58]:
# Bottom 10 customers based on RTT

grouped_data_total = grouped_data_total.sort_values(by='Avg_RTT',ascending=True)
grouped_data_total.head(10)

                 Avg_TCP_transmition  Avg_RTT  Avg_TP
MSISDN/Number
33652982188.000               21.649    0.000 100.000
33661575382.000               21.649    0.000  85.000
33660204450.000                0.769    2.000 113.000
33695045499.000               21.649    4.000 121.000
33659493541.000               21.649    5.000  78.000
33668619895.000               21.649    6.000 101.000
33647679481.000               21.649    8.000 110.000
33610846366.000               22.873    9.000 113.000
33672196893.000               21.649    9.000  91.000
33634684770.000                3.695   10.000  93.000