<h1>User Engagement Analysis</h1>

In [1]:
# Importing the neccesary libraries and packages

import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import sys
sys.path.append("..")

In [48]:
# Reading the data 

engagement_data = pd.read_csv('../data/user_overview_data.csv')
pd.set_option('display.float_format', lambda x: '%.3f' % x)

In [49]:
# Rename the columns for simplicity

engagement_data.rename(columns={'Bearer Id':'Session Frequency', 'Dur. (ms)':'Total Duration', 'Total_UL_and_DL':'Total traffic in MBs'}, inplace= True)

In [50]:
# Grouping and aggregating the data

engagement_data = engagement_data.groupby('MSISDN/Number')
engagement_data = engagement_data.agg({'Session Frequency':'count','Total Duration':'sum','Total traffic in MBs':'sum'})

In [51]:
# Creating a data set containing only the specified metrics

engagement_cols = ['Session Frequency', 'Total Duration', 'Total traffic in MBs']
engagement_agg = engagement_data[engagement_cols]

In [52]:
# Sorting to see the higher session frequency easier

engagement_agg = engagement_agg.sort_values(by='Session Frequency', ascending=False)
engagement_agg.head()

                 Session Frequency  Total Duration  Total traffic in MBs
MSISDN/Number
33626320676.000                 18     1785419.000              7971.167
33614892860.000                 17     1678397.000              7602.058
33625779332.000                 17     1599052.000              7708.276
33659725664.000                 16     1905478.000              6932.267
33760536639.000                 15     1651084.000              8514.774