<h1>User Engagement Analysis</h1>

In [21]:
# Importing the neccesary libraries and packages

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import sys
sys.path.append("..")
from sklearn.preprocessing import StandardScaler

In [2]:
# Reading the data 

engagement_data = pd.read_csv('../data/user_overview_data.csv')
pd.set_option('display.float_format', lambda x: '%.3f' % x)

In [3]:
# Rename the columns for simplicity

engagement_data.rename(columns={'Bearer Id':'Session Frequency', 'Dur. (ms)':'Total Duration', 'Total_UL_and_DL':'Total traffic in MBs'}, inplace= True)

In [4]:
# Grouping and aggregating the data

engagement_data = engagement_data.groupby('MSISDN/Number')
engagement_data = engagement_data.agg({'Session Frequency':'count','Total Duration':'sum','Total traffic in MBs':'sum'})

In [5]:
# Creating a data set containing only the specified metrics

engagement_cols = ['Session Frequency', 'Total Duration', 'Total traffic in MBs']
engagement_agg = engagement_data[engagement_cols]

In [6]:
# Sorting to see the top 10 users based on session frequency metric

engagement_agg = engagement_agg.sort_values(by='Session Frequency', ascending=False)
engagement_agg.head(10)

                 Session Frequency  Total Duration  Total traffic in MBs
MSISDN/Number
33626320676.000                 18     1785419.000              7971.167
33614892860.000                 17     1678397.000              7602.058
33625779332.000                 17     1599052.000              7708.276
33659725664.000                 16     1905478.000              6932.267
33760536639.000                 15     1651084.000              8514.774
33675877202.000                 15     1745131.000              7891.111
33667163239.000                 13     1209703.000              5618.394
33604515716.000                 12     1193033.000              5081.583
33760413819.000                 12     1248477.000              5902.169
33603127838.000                 12     1109736.000              4976.195

In [7]:
# Sorting to see the top 10 users based on Total duration metric

engagement_agg = engagement_agg.sort_values(by='Total Duration', ascending=False)
engagement_agg.head(10)

                 Session Frequency  Total Duration  Total traffic in MBs
MSISDN/Number
33659725664.000                 16     1905478.000              6932.267
33626320676.000                 18     1785419.000              7971.167
33659359429.000                 11     1747994.000              4658.437
33675877202.000                 15     1745131.000              7891.111
33614892860.000                 17     1678397.000              7602.058
33760536639.000                 15     1651084.000              8514.774
33625779332.000                 17     1599052.000              7708.276
33786323068.000                 12     1427807.000              5622.232
33664712899.000                 11     1334982.000              6472.786
33606582008.000                  9     1322251.000              4352.745

In [8]:
# Sorting to see the top 10 users based on Total traffic in MBs

engagement_agg = engagement_agg.sort_values(by='Total traffic in MBs', ascending=False)
engagement_agg.head(10)

                 Session Frequency  Total Duration  Total traffic in MBs
MSISDN/Number
33760536639.000                 15     1651084.000              8514.774
33626320676.000                 18     1785419.000              7971.167
33675877202.000                 15     1745131.000              7891.111
33625779332.000                 17     1599052.000              7708.276
33614892860.000                 17     1678397.000              7602.058
33659725664.000                 16     1905478.000              6932.267
33666464084.000                 11     1168703.000              6530.983
33664712899.000                 11     1334982.000              6472.786
33698792269.000                 11     1052303.000              6149.754
33658361927.000                 10     1173433.000              6051.520

In [20]:
# Finiding out the metric features and normalizing them

features = ['Session Frequency','Total Duration','Total traffic in MBs']
feeatures_array = engagement_agg.loc[:,features].values
feeatures_array = StandardScaler().fit_transform(feeatures_array)
feeatures_array

array([[16.85918142, 15.12169104, 16.85321169],
       [20.57669774, 16.45580955, 15.68633385],
       [16.85918142, 16.05569814, 15.51448841],
       ...,
       [-0.48922805,  0.61443461, -1.35117693],
       [-0.48922805,  0.37483255, -1.35208661],
       [-0.48922805, -0.85007167, -1.35278816]])

In [26]:
# Making sure if the data is normalized well or not
# Normalized data has a mean of 0 and std of 1

np.mean(feeatures_array), np.std(feeatures_array), feeatures_array.shape

(1.138957652660259e-17, 1.0, (106471, 3))